*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}


.header{
    height:15vh;
    width:100%;
   background:yellow;
    position:fixed;
   
}
.cover{
    display:flex;
    align-items:center;
    justify-content:space-evenly;

}
.logo{
    font-size:1.5em;
    font-weight:300;
    font-style:italic;
    margin-left:-90px;
    margin-top:30px;
    cursor:pointer;
}
span{
    color:red;
}
.others ul li{
    display:inline-block;
    font-size:1.2em;
    font-weight:300;
    margin:30px;
  
    
}
.others ul li a:hover{
    color:red;
   
    
}
.others ul li a{
    list-style:none;
    text-decoration:none;
    transition:color 0.3s ease;
    color:black;
}
.menu-btn{
    width:20px;
    height:30px;
    color:white;
    display:none;
}
.delete{
    width:7px;
    height:30px;
    color:black;
    margin-left:100px;
    border:none;
    display:none;
}


/* home section*/

.home{
background-image:url('city2.png');
background-repeat:no-repeat;
background-size:cover;
display:flex;
align-items:center;
justify-content:space-between;
height:100vh;
min-height:500px;

}

.wrapper{
min-height:30vh;
width:100%;
margin-top:15%;
margin-left:50px;
background:yellow;
margin-left:0;
}

.text1{
font-size:6em;
font-weight:300;
color:blue;
font-style:"popsins"

}
.text2{
height:30px;
font-size:2em;
font-weight:300;
color:green;
font-style:italic;
line-height: 30px;

overflow: hidden;


}

.text2 ul li{
    list-style: none;
   position:relative;
   top:0;
   margin-bottom: 20px;
   animation:slide 12s steps(4) infinite;

}
@keyframes slide{
    100%{top:-200px;}
}
.text2 ul li::after{
    content: "";
    position:absolute;
    background:yellow;
    width:100%;
    height: 100%;
    left:0;
    border-left: 1px solid yellow;
    animation:typing 3s steps(10) infinite;
   

    
}

@keyframes typing{
    100%{left:400px;}
}
.text3{
font-size:1.5em;
font-weight:300;
color:red;
font-style:"popsins";


}

.image{
margin-top:15%;
}

/* about section*/



.about{
height:80vh;
width:100%;
background:black;
color:white;
font-size:20px;
font-weight:100;
font-style:italic;


}
.book{
display:flex;
align-items:center;
justify-content:space-between;
}

.banana, .orange, .carrot, .neem, .mint{
min-height:10vh;
width:200px;
}
img{
border-radius:10%;
margin-top:60px;
}
.product{
margin-left:35%;
color:red;
font-style:"popsins";
font-size:1.8em;
font-weight:300;
}
.product::before{
content:"Hello";
height:15px;
width:200px;
background:red;
color:black;
margin-top: 50px;
position:absolute;
font-size: 0.5em;
text-align: center;

}

/* service section*/

.service{
height:80vh;
width:80vw;
background:white;
color:black;
font-size:20px;
font-weight:100;
font-style:italic;

}
.back{
display:flex;
align-items:center;
justify-content:space-between;
}
.word{
margin-top:50px;
margin-left:40%;
color:red;
font-size:1.5em;
font-weight:300;
font-style:popsins;
}
.word::before{
    content:"Thank You";
    height:15px;
    width:300px;
    background:red;
    color:black;
    margin-top: 50px;
    position:absolute;
    font-size: 0.5em;
    text-align: center;
    
    }
.oilss, .graphic, .beads{
min-height:10vh;
width:20vw;
margin:50px;
margin-left:150px;
}
.oilss img, .graphic img, .beads img{
width:200px;
}


/* contact section*/

.contact{
height:100%;
width:100%;
background:blue;
color:black;
font-size:18px;
font-weight:100;
font-style:"popsins";
}

.front{
display:flex;
align-items:center;
justify-content:space-between;
min-height:55vh;
width:100%;
margin-top:40px;
}

.compound, .register{
min-height:25vh;
width:30vw;
}
.here, .oil{
color:yellow;
margin:30px;
font-size:2.5em;

}

p{
margin:30px; 
}

.register input{
width:200px;
}

.submit{
margin-left:60px;
font-size:1.5em;


}
.submit input{
width:100px;
font-style:italic;
background:black;
color:white;
}

.end{
height:6vh;
width:100%;
background:black;
color:white;
font-size:1.2em;
font-style:"popsins";
font-weight:300;

}

.last{

margin-left:25%; 
}




@media (max-width: 991px){

.menu-btn{
    width:7px;
    height:30px;
    color:black;
    display:block;
    margin-left:100px;
    border:none;
}

 .others{
    position:fixed;
    height:100%;
    width:100%;
    background:blue;
    display:none;
    text-align:center;

   
}
.others ul li  {
    display:block;
  
}
 .out{
  left:0;
}
.others ul li a{
    display:inline-block;
    margin: 20px;
     font-size:1.5em;
    font-weight:300;
}

/* about section*/

.text1{
    font-size:4em;
    font-weight:300;
    color:blue;
    font-style:"popsins"

 }
 .text2{
        font-size:1em;
        font-weight:300;
        color:yellow;
        font-style:italic;
        
     
 }

 .text2{
    height:30px;
    font-size:2em;
    font-weight:300;
    color:green;
    font-style:italic;
    line-height: 30px;
    
    overflow: hidden;
    
    
    }
    
    .text2 ul li{
        list-style: none;
       position:relative;
       top:0;
       margin-bottom: 20px;
       animation:slide 12s steps(4) infinite;
    
    }
    @keyframes slide{
        100%{top:-200px;}
    }
    .text2 ul li::after{
        content: "";
        position:absolute;
        background:yellow;
        width:100%;
        height: 100%;
        left:0;
        border-left: 1px solid yellow;
        animation:typing 3s steps(10) infinite;
       
    
        
    }
    
    @keyframes typing{
        100%{left:400px;}
    }
    
 .text3{
    font-size:1em;
    font-weight:300;
    color:red;
    font-style:"popsins";
    
 
}

 .image{
    margin-top:15%;
    width:150px;
    margin-right: 250px;
 }

 .about{
    height:80vh;
     width:100%;
     background:black;
     color:white;
     font-size:15px;
     font-weight:100;
     font-style:italic;
    }
     
.banana, .orange, .carrot, .neem, .mint{
        min-height:10vh;
        width:150px;
    }
 .product{
    margin-left:35%;
    color:red;
    font-style:"popsins";
    font-size:1.5em;
    font-weight:300;
}

/*service section*/
.oilss, .graphic, .beads{
    min-height:10vh;
    width:30vw;
    margin:50px;
}
.oilss img, .graphic img, .beads img{
    width:150px;
}

/*contact section*/
.contact{
    height:100%;
    width:100%;
    background:blue;
    color:black;
    font-size:15px;
    font-weight:100;
    font-style:"popsins";
}

.front{
    display:flex;
    align-items:center;
    justify-content:space-evenly;
    min-height:55vh;
    width:100%;
    margin-top:40px;
}

.compound{
    min-height:25vh;
    width:30vw;
    
}
.register{
    min-height:25vh;
    width:40vw;
}
.here, .oil{
   color:yellow;
   margin:30px;
   font-size:2em;

}

.register input{
   width:150px;
}

.submit{
   margin-left:60px;
   font-size:1em;
   
 
}
.submit input{
width:60px;
font-style:italic;
background:black;
color:white;
}

}

@media (max-width:720px){

.home{
   
    display:inline-block;
    height:100%;
    width:100%;
}

.about{
    height:100%;
     width:100%;
     background:black;
     color:white;
     font-size:20px;
     font-weight:100;
     font-style:italic;
     

 }

.book{
    display:inline-block;
    justify-content: center;
    align-items: center;

   }
   .banana, .orange, .carrot, .neem, .mint{
    min-height:5vh;
    width:50vw;
    margin-left: 150px;
   
}
  
   .banana img, .orange img, .carrot img, .neem img, .mint img{
      height: 150px;
      width: 300px;
      }
     
      /*service part*/
      .service{
        height:100%;
         width:100%;
        
         
        }
   
      .back{
        display:inline-block;
        align-items:center;
        justify-content:center;
    }
    .word{
        margin-top:50px;
        margin-left:20%;
        color:red;
        font-size:1.5em;
        font-weight:300;
        font-style:popsins;
    }

    .oilss, .graphic, .beads{
        min-height:5vh;
        width:40vw;
        margin-left:150px;
    }

    /*contact part*/
    .contact{
        height:100%;
        width:100%;
       
    }

    .front{
        display:inline-block;
        align-items:center;
        justify-content:space-between;
      
    }
    .compound, .register{
        min-height:50vh;
        width:50vw;
        margin-left: 100px;
    }
   .here, .oil{
       color:yellow;
       margin:30px;
       font-size:1.5em;
    }
    /*footer*/
    .last{

        margin-left:15%; 
       }
   

}
